@import "../../../utills/variable.scss";
.message {
  display: flex;
  gap: 1rem;
  max-width: 80%;
  &.user-message {
    align-self: flex-start;
    .avatar {
      background-color: $primary-color-dark;
      color: white;
    }
    .message-content {
      border-top-left-radius: 0;
    }
  }

  &.assistant-message {
    align-self: flex-end;
    flex-direction: row-reverse;

    .avatar {
      background-color: $tertiary-color-light;
      color: white;
    }
    .message-content {
      border-top-right-radius: 0;
      background-color: $primary-color-light;
    }
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $info-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .message-content {
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    .message-author {
      font-weight: 500;
      margin-bottom: 0.25rem;
      font-size: 0.875rem;
      color: $secondary-color;
    }

    .message-text {
      color: $secondary-color;
    }
  }
}
