@import "../../utills/variable.scss";
.chat-area {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: $secondary-color-light;
  .chat-messages {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
