// if(light_mode){
$primary-color: #007bff;
$primary-color-light: #e8f5ff;
$primary-color-dark: #3b82f6;
$info-color: #e5e7eb;
$secondary-color: #6c757d;
$secondary-color-light: #f9fafb;
$tertiary-color: #28a745;
$tertiary-color-light: #10b981;
$accent-color: #ff4500;
$white-color: #ffffff;
$black-color: #000000;

// }
// else{

// }
